
*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: rgb(112, 112, 133); */
    background:#0a0a23;
    /* background: black; */
    /* color: rgb(46, 23, 23); */
    margin: 0;
}

h1{
    font-size: 45px;
    /* margin-bottom: 1rem; */
}

.intro{
    font-size: 20px;
    color: rgb(236, 232, 232);
    font-style: italic;
}

.intropix{
margin-top:3rem;
margin-bottom: 0rem;
}

.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
    animation: loadingspin 1s linear infinite;
    display: none;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}



/* body {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
} */


.img-after-result{
width: 20%;
}

.result-div{
    display: flex;
    justify-content: flex-start;
}

.checker,#direction-btn{
    margin: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#searchbox{
    /* margin-bottom: 3rem; */
    width: 240px;
    border-radius: 10px;
    padding: .7rem;
    border: 1px solid white;
}

#mybtn,
#direction-btn{
    width: 120px;
	padding: 5px;
	margin: 6% auto;
	border:none;
	background-color: #7e8892;
	color: #fff;
	border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
	
}

#check-value{
   background-color: rgb(240, 69, 69);
   color: white;
   font-size: 20px;
   font-weight: bold;
   /* display: none; */
  
}
#title{
    display: none;
}

#title #searchtitle{
    font-weight: bold;
    font-size: 20px;
}

.recipe{
    /* margin-top: 5rem; */
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: .8rem;
    /* color: rgb(49, 43, 28); */
    color: wheat;
    
} 

.meal-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
  /* display: flex; */
  align-items: center;
  justify-content: center;
 transition: opacity 0.2s ease-in;
 opacity: 0;


}

.img-meal {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;

}

.img-meal img {
  height: 100%;
  width: 100%;
  border: 4px solid whitesmoke;
  border-radius: 5px;

}

.img-meal:hover .meal-desc{
  opacity:1;
}

.full-details{
  font-size: 10px;
  background: wheat;
  padding:0;
}


.nully-resp{
    display: none;
}

.search{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    color: black;
   
}

.mymeal{
    max-width: 200rem;
}

.cookIns{
    color: pink;
    font-style: italic;
    
    
}


.MealIns{
    font-size: 15px;
    border: 1px dashed rgb(172, 73, 73);
    padding: 10px;
    border-radius: 50px 20px;
    /* border: .1px solid red; */
}

#direction-btn{
    display: none;
}

.youlink{
    color: wheat;
}
